{% load i18n %}
{% load static %}
{% load bootstrap4 %}
<div data-overlay class="min-vh-90 bg-light d-flex flex-column justify-content-center">
      <section class="py-1">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6">
                            {% if product %}
                <p>Confirm booking of {{product.title}} at {{dealer.name}} <a href="{{product.url}}"> on the dealer website</a>.</p>
                    {% comment %} {{booking.text|safe}}#product_title={{product.title}}&product_id={{product.pk}}&dealer_title={{dealer.name}}&dealer_id={{dealer.pk}}&email={{dealer.email}}&phone={{dealer.phone}}&city={{dealer.location_link.province.name}}&price_halfday_tvac={{product.price_halfday_tvac}}&price_day_tvac_lowseason={{product.price_day_tvac_lowseason}}&price_day_tvac={{product.price_day_tvac}}&price_day_tvac_highseason={{product.price_day_tvac_highseason}}&price_week_tvac_lowseason={{product.price_week_tvac_lowseason}}&price_week_tvac={{product.price_week_tvac}}&price_week_tvac_highseason={{product.price_week_tvac_highseason}}&price_weekend_tvac_lowseason={{product.price_weekend_tvac_lowseason}}&price_weekend_tvac={{product.price_weekend_tvac}}&price_weekend_tvac_highseason={{product.price_weekend_tvac_highseason}}&price_month_tvac={{product.price_month_tvac}}&dealer_city={{dealer.location_link.province.name}}" style="width: 100%; height: 500px;"></div> 
<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      <script>
      $( ".target" ).hide();
      </script> {% endcomment %}
                
                {% endif %}
              <div class="card card-body shadow">

                {% if user.is_authenticated %}
                <p>
                  Hello {{user.username}}, you are logged in.
                </p>
                {%else %}
                <h1 class="h5 text-center">{% trans "Sign In" %}</h1>
                    <form method="POST">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      <input type="submit" value="Login" class="btn btn-primary">
                      <a href="{% url 'accounts:signup' %}" class="btn btn-secondary">{% trans "Register" %}</a>
                    </form>
                    {% comment %} <form method="POST">



                  <div class="form-group">
                    <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="sign-up-password" placeholder="Password">
                    <div class="text-right text-small mt-2">
                      <a href="account-forgot-password.html">{% trans "Forgot Password?" %}</a>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox text-small">
                      <input type="checkbox" class="custom-control-input" id="sign-in-remember">
                      <label class="custom-control-label" for="sign-in-remember">{% trans "Remember me next time" %}</label>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
                </form> {% endcomment %}
                {%endif%}
              </div>
              
              {% if user.is_authenticated %}
              {%else%}
              <div class="text-center text-small mt-3">
                {% trans "Don't have an account?" %} <a href="{% url "accounts:signup" %}">{% trans "Sign up here" %}</a>
              </div>
              {%endif%}
            </div>
          </div>
        </div>
      </section>
    </div>
