{% extends "jumpstart/pages/base.html" %}
{% load i18n %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load custom_tags %}
  {% leaflet_js %}
  {% leaflet_css %}
<!doctype html>

  {% block og_title  %}{% block seo_title %}
  {% if subcategory %}
      {% blocktrans with subcategory_name=subcategory.title%}
      Rent {{subcategory_name}}
    {% endblocktrans %}
    {% if province %}({{province}}){% endif %} - Aliloca
  {% else %}
      {% blocktrans %}
      Rent {{search}}
    {% endblocktrans %}
    {% if province %}({{province}}){% endif %} - Aliloca
  {% endif %}

  {% endblock seo_title %}{% endblock og_title %}

  {% block og_description %}{% block seo_description %}
    {% blocktrans with product_name=product.title product_count=product.dealer.count %}
      Find {{product_name}} for rent on Aliloca, compare more than {{product_count}} locations.
    {% endblocktrans %}
    {% if product.text %}{{product.text|truncatechars:200}}{% endif %}
  {% endblock seo_description %}{% endblock og_description %}

    {% block banner1 %}
        {% comment %} here potentially a search bar {% endcomment %}
    {% endblock %}

<p><br></p>

    {% block stepbystep %}
    <section class="min-vh-90 bg-light pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
          {% if product_list.count > 0 %}
            <a href="{% url 'frontend:home' website=product_list.0.category.all.0.parent.slug %}">Home</a>
        {% else %}
            <a href="#">Home</a>
        {% endif %}
             > 
            
            <a href="#">1. {% trans "Pick a product" %}</a> >
            2. {% trans "Pick a location" %}
             > <span>3. {% trans "Book and collect" %}</span>


             {% if subcategory %}
                <h2 class="h1 mt-2 mt-md-3 mt-lg-4">
                {% blocktrans with subcategory_name=subcategory.title %}
                Rent {{subcategory_name}}
                {% endblocktrans %}
                {% if province %}
                @ {{province}}
                {% else %}
                {% endif %}
                </h2> 
             {% else %}
                <h2 class="h1 mt-2 mt-md-3 mt-lg-4">

                {% blocktrans %}
                Pick a product ({{search}})
                {% endblocktrans %}

                {% if request.GET.province %}
                @ {{province}}
                {% else %}
                {% endif %}

                </h2>
             {% endif %}

            <div class="alert alert-success mb-2" role="alert">
              <i class="fas fa-check"></i>

              <span><b>{% trans "STEP 1: We found" %}
{% if product_list.count > 49 %} 50+ 
{% else %}{{product_list.count}}
{% endif %}
  {% trans "results for your search." %}
  {% if product_list.count > 0 %}
  <a href="#result">{% trans "STEP 1: Pick one below." %}</a>
  {%endif%}</b></span>
            </div>
            <form
              class="d-flex flex-row form-group"
              action="/en/find/"
              method="GET"
            >
              <input
                class="form-control form-control-md w-50 border-1"
                name="search"
                placeholder="item"
                type="search"
                value="{{search}}"
              />
              <select class="w-50 border" name="province" onchange="">
                
                <option value="">{% trans "Everywhere" %}</option>
              {% for location in location_list %}
              <option value="{{location.slug}}" {% if location.slug == request.GET.province %}selected="selected"{% endif %} >{{location}}</option>
              {% endfor %}
              
            </select>
              <button type="submit" class="btn btn-md">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col mx-2 my-1">
            <!-- <h4>Article match</h4> -->
            <p>
            {% if subcategory.explanation_search %}
            {{subcategory.explanation_search|safe}}
            {% endif %}
            </p>
          </div>
        </div>
      </div>

      <div class="container pt-2 pt-md-3 pt-lg-4">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-success mb-2" role="alert">
              <i class="fas fa-arrow-right"></i>
              <span><b>{% trans "STEP 1 : Pick an item below" %}</b></span>
            </div>
          </div>
          <div class="col-12">
            <div
              class="alert alert-dark mx-auto text-center hover-fade-out py-2"
            >
              <a
                href="#filteringMenu"
                data-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="filteringMenu"
                class="stretched-link"
              ></a>

              <span class=""><b>{% trans "Advanced search" %}</b></span>
              <i class="fas fa-caret-down"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="container mb-3">
        <!-- <div
          class="card card-body collapse bg-light border-0"
          id="filteringMenu"
        > -->
        <div class="row collapse bg-white p-4 m-2" id="filteringMenu">
          <div class="col-md-6 col-lg-6">
            <h6>{% trans "Categories" %}</h6>
            {% for category in cat_list %}
            <a href="{% url 'frontend:category' website=website.slug slug=category.slug %}" class="badge badge-success m-1">{{category.title}}</a>
            {% endfor %}
          </div>

          <div class="col-md-6 col-lg-6">
            <h6>{% trans "Advanced filtering" %}</h6>
  {% with params=request.GET.urlencode %}
  {% comment %} {% if params.param %}Applied filter: {{params.param}}{% endif %} {% endcomment %}
  {% regroup parameter_list|dictsort:"filters.public_name" by filters.public_name as parameter_name_list %}
  {% for parameter_name in parameter_name_list %}
  {{parameter_name.grouper}} : 
  
  {% for parameter_value in parameter_name.list %}
  
      {% if forloop.counter < 11 %}
        | <a href="{% relative_url parameter_value.slug 'param' params %}">
      {% elif forloop.counter ==  11 %}
        <a data-toggle="collapse" href=".multiple-show" role="button" aria-expanded="false" aria-controls="collapseExample">
          ... more
        </a>
        <span class="collapse multiple-show">|</span> <a class="collapse multiple-show" href="{% relative_url parameter_value.slug 'param' params %}">
      {% else %}
        <span class="collapse multiple-show">|</span> <a class="collapse multiple-show" href="{% relative_url parameter_value.slug 'param' params %}">
      {% endif %}
      
      
      {% if parameter_value.value_int > -1 %}
      {{parameter_value.value_int}}
      {% elif parameter_value.value_char|length > 0 %}
      {{parameter_value.value_char}}
      {%else%}
        {% if parameter_value.value_bool == True %}
          {% trans "Yes" %}
        {% else %}
          {% trans "No" %}
        {% endif %}
      {% endif %}
  </a> 
  {% endfor %}
  <br/>
  {% endfor %}

  {% endwith%}

          </div>

          
        </div>
      </div>

      <!-- </div> -->
      <!-- <div class="container mb-3">
        <div class="row">
          <div class="col-6">
            <h6>Area</h6>
            <select class="" name="PreviousReceiver" onchange="">
              <option value="0">Everywhere</option>
              <option value="1">Antwerpen</option>
              <option value="2">Brussels</option>
              <option value="3">Exemple</option>
            </select>
          </div>
          <div class="col-6">
            <h6>Ordering</h6>
            <select class="" name="PreviousReceiver" onchange="">
              <option value="0">Best match</option>
              <option value="1">Low daily price first</option>
              <option value="2">Low weekend price first</option>
              <option value="3">Low weekly price first</option>
            </select>
          </div>
        </div>
      </div> -->
      
      {% comment %} <div class="container">
        <div class="row">
          <div class="col mb-2 mb-lg-0 mx-2">
          Applied filters:
            {% if province %}Province: {{province}}{% endif %}
            {% if request.GET.sort %}Province: {{request.GET.sort}}{% endif %}
          </div>
        </div>
      </div> {% endcomment %}
    <div class="container">
      <div class="row d-flex flex-row justify-space-between">
     <div class="col-12">
            {% comment %} <h6>{% trans "Area" %}</h6> {% endcomment %}
            <form
              class="form-group"
              action="#"
              method="GET"
            >
            <input
                class="form-control form-control-sm"
                name="search"
                placeholder="item"
                type="search"
                value="{{search}}"
                hidden
            /> 
            <select class="form-control-sm mb-2" name="province" onchange="">
            <option value="">{% trans "Everywhere" %}</option>
              {% for location in location_list %}
              <option value="{{location.slug}}" {% if location.slug == request.GET.province %}selected="selected"{% endif %} >{{location}}</option>
              {% endfor %}
              
            </select>
          {% comment %} {% endcomment %}
          {% comment %}  {% endcomment %}
            {% comment %} <h6>{% trans "Ordering" %}</h6> {% endcomment %}
            <select class="form-control-sm" name="sort" onchange="">
              <option value="">{% trans "Best match" %}</option>
              <option value="price_day_tvac" {% if request.GET.sort == "price_day_tvac" %}selected="selected"{% endif %}>{% trans "Low daily price first" %}</option>
              <option value="price_weekend_tvac" {% if request.GET.sort == "price_weekend_tvac" %}selected="selected"{% endif %}>{% trans "Low weekend price first" %}</option>
              <option value="price_week_tvac" {% if request.GET.sort == "price_week_tvac" %}selected="selected"{% endif %}>{% trans "Low weekly price first" %}</option>
            </select>
           
            <button type="submit" class="btn btn-sm btn-primary-2 mt-2 mt-md-0"><span>Apply filters</span>
                {% comment %} <i class="fa fa-search"></i> {% endcomment %}
              </button>
            
          
        </form>
          </div>
          </div>
      <style>
        .embed-responsive .card-img-top {
          object-fit: cover;
        }
      </style>
      <div class="container">
        <div class="row">
        {% for product in product_list %}
          <div class="col col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0 my-lg-4">
            <div class="card hover-box-shadow">
            
              <div class="embed-responsive embed-responsive-4by3">
              {% if product.main_image.file.url %}
                <img
                  src="{{product.main_image.file.url}}"
                  alt="{{product.title}}"
                  class="card-img-top embed-responsive-item"
                />
            {%endif%}
                <div class="badge alert-light">
                  {{product.dealer.count}}
                  <span style="color: Dodgerblue"
                    ><i class="fas fa-map-marker-alt"></i
                  ></span>
                </div>
              </div>

              <div class="card-body">
                <h4 class="card-title">{{product.title}}</h4>
                <p class="card-text">
                  <small class="text-muted">{% trans "From" %} </small>{{product.get_lowest}}€
                </p>
                <!-- <a href="#" class="btn btn-sm btn-primary">Réservez</a> -->
                <a href="{% url 'frontend:product_detail' slug=product.slug %}" class="stretched-link"></a>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>
        <hr />
        <div class="container">
          <div class="row">
            <div class="col-12 text-right">
            {% with params=request.GET.urlencode %}
              <p>Page {{page}} - 
            {% if page > 0 %}
            <a href="{% relative_url page|add:-1 'page' params %}">{% trans "Previous" %}</a>
            {% endif %}
            {% if product_list.count > max_results|add:-1 %}
              <a href="{% relative_url page|add:1 'page' params %}">{% trans "Next" %}</a>
            {% endif %}
              </p>
            {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="alert-success">
      <div class="container">
        <div class="row">


          <div class="col-12">
            <div class="card">
              <div class="card-body bg-primary-alt">
                <h4 class="">About {{subcategory.title}}</h4>
                {{subcategory.text|safe}}

                {% if subcategory %}
                See also (<a href="{% url 'frontend:blogcategorylist' website=website.slug category=subcategory.slug  %}">{{subcategory.title}}</a>):
                <ul>
                {% for post in related_post_list %}
                <li><a href="{% url 'frontend:blogpost' slug=post.slug website=post.subcategory.parent.slug %}">{{post.title}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}

                  {% comment %} See also (<a href="{% url 'frontend:blogcategorylist' website=website.slug category=subcategory.slug  %}">{{subcategory.title}}</a>):
                    <ul>
                    {% for post in related_post_list %}
                    <li><a href="{% url 'frontend:blogpost' slug=post.slug website=post.subcategory.parent.slug %}">{{post.title}}</a></li>
                    {% endfor %}
                    </ul> {% endcomment %}
              </div>
            </div>
          </div>
        </div>

<h4 class="mt-5">{% trans "Product details" %}</h4>
        <div class="row">
        {% for product in product_list %}
          <div class="col col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0 my-lg-4">
            <div class="card hover-box-shadow">
              <div class="card-body">
                <h4 class="card-title">{{product.title}}</h4>
                <p class="card-text">{{product.text|safe|truncatechars_html:200}}
                  {% comment %} <small class="text-muted">{% trans "From" %} </small>{{product.get_lowest}}€ {% endcomment %}
                </p>
                <!-- <a href="#" class="btn btn-sm btn-primary">Réservez</a> -->
                <a href="{% url 'frontend:product_detail' slug=product.slug %}" class="stretched-link"></a>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>
    </section>

    <!-- ***** CONTENT END ***** -->


{% comment %} {% include 'includes/components/related_information_article.html' %} {% endcomment %}
    
    {%endblock%}