{% extends "jumpstart/pages/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
<!doctype html>



    {% block banner1 %}
        {% comment %} here potentially a search bar {% endcomment %}
    {% endblock %}

<p><br></p>

    {% block stepbystep %}
{{ form.non_field_errors }}
{% comment %} <div class="fieldWrapper">
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}">Email subject:</label>
    {{ form.email }}
</div>
<div class="fieldWrapper">
    {{ form.password1.errors }}
    <label for="{{ form.password1.id_for_label }}">Your message:</label>
    {{ form.password1 }}
</div>
<div class="fieldWrapper">
    {{ form.password2.errors }}
    <label for="{{ form.password2.id_for_label }}">Your email address:</label>
    {{ form.password2 }}
</div> {% endcomment %}
{% comment %} <div class="fieldWrapper">
    {{ form.cc_myself.errors }}
    <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
    {{ form.cc_myself }}
</div> {% endcomment %}





    <div data-overlay class="min-vh-90 bg-light d-flex flex-column justify-content-center o-hidden">
      <section class="py-3">
        <div class="container">
          <div class="row justify-content-center">
            
            
            <div class="col-xl-4 col-lg-5 col-md-5 mb-5 mb-md-0">
              <div class="card card-body shadow">
              {% if user.is_authenticated %}
              <p>
                Hello {{user.username}}, you are logged in.
              </p>
              {% else %}
                <h1 class="h5 text-center">{% trans "Create Account" %}</h1>
                <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                  {% if field.errors %}
                      <div class="small alert-danger" role="alert">{{ field.errors }}</div>
                      {% comment %} {% if field.help_text %}
                      <div class="small">
                      <p class="help">{{ field.help_text|safe }}</p>
                      </div>
                      {% endif %} {% endcomment %}
                  {% endif %}
                      {% comment %} {{ field.label_tag }}  {% endcomment %}
                      {{ field|addclass:"form-control" }}
                  </div>
                {% endfor %}
                  {% comment %} <div class="form-group">
                    <input type="email" class="form-control" name="sign-up-email" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="sign-up-password" placeholder="Password">
                    <small>{% trans "Password must be at least 8 characters" %}</small>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="sign-up-password-confirm" placeholder="Confirm Password">
                  </div> {% endcomment %}
                  {% comment %} <div class="form-group">
                    <div class="custom-control custom-checkbox text-small">
                      <input type="checkbox" class="custom-control-input" id="sign-up-agree">
                      <label class="custom-control-label" for="sign-up-agree">{% blocktrans %}I agree to the <a target="_blank" href="#">Terms &amp; Conditions</a>{% endblocktrans %}
                      </label>
                    </div>
                  </div> {% endcomment %}
                  {% comment %} <button class="btn btn-primary btn-block" type="submit">{% trans "Create Account" %}</button> {% endcomment %}
                  <input type="submit" value="{% trans 'Create account' %}" class="btn btn-primary">
                </form>
              {% endif %}
              </div>
              <div class="text-center text-small mt-3"> {% trans "Already have an account?" %}
                 <a href="{% url 'accounts:login'%}">{% trans "Sign in here" %}</a>
              </div>
            </div>

            <div class="col-md-5 ml-lg-5 ">
              <div>
              <h2>{% trans "Hey, visitor !" %}</h2>
              <p>{% trans "We are working hard to make renting easy. Why we do this? Because we got bored of bad quality products and complicated renting processes while renting." %}</p>
                <h3>{% trans "Creating a account is free :" %}</h3>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="300">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{% static "assets/img/icons/interface/icon-check.svg" %}" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">{% trans "Get unlimited access to more than 5000 items for rent" %}</h6>
                  </div>
                </div>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="400">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{% static "assets/img/icons/interface/icon-check.svg" %}" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">{% trans "Create your free page and get more visibility on your business" %}</h6>
                  </div>
                </div>
                {% comment %} <div class="mb-3" data-aos="fade-left" data-aos-delay="500">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{% static "assets/img/icons/interface/icon-check.svg" %}" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">{% trans "Free Inventory Management System" %}</h6>
                  </div>
                </div> {% endcomment %}
                <div class="mb-3" data-aos="fade-left" data-aos-delay="600">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{% static "assets/img/icons/interface/icon-check.svg" %}" alt="Lightning icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">{% trans "Track your rents easily" %}</h6>
                  </div>
                </div>
              </div>
              <p class="small">Proudly made in Belgium</p>
            </div>
          </div>
        </div>
      </section>
      </div>
    {% endblock %}


      {% comment %} {% block banner3 %}
        {% include "includes/contact-form.html" %}
      {% endblock %}

    <section>
      {% block banner4 %}
        
      {% endblock %}
    </section>
    <section class="bg-primary-3 pt-0 text-white">
      {% block banner5 %}
        
      {% endblock %}
    </section>
    <section class="bg-primary text-white">
      {% block banner6 %}
      {% endblock %}
    </section>
    <section class="pb-0">
      {% block banner7 %}
      {% endblock %}
    </section> {% endcomment %}


{% comment %} {% extends "base.html" %} {% endcomment %}


{% comment %} {% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_page_block %}
{% trans "Registration form" %}
{% endblock  %}
{% block description_seo_block %}{% trans "Registration form" %}
{% endblock description_seo_block %} {% endcomment %}


{% comment %} {% block pre_content %}
  {% include "wheels/_searchform_xlite.html" %}
{% endblock %} {% endcomment %}



{% comment %} {% block content %}
<div class="container">
  <br>
  <h1>{% trans "Register and get started !" %}</h1>
  <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="{% trans 'Register' %}" class="btn btn-primary">
  </form>
</div>
{% endblock %} {% endcomment %}
