{% extends "jumpstart/pages/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
<!doctype html>



    {% block banner1 %}
        {% comment %} here potentially a search bar {% endcomment %}
    {% endblock %}

<p><br></p>

    {% block stepbystep %}

    <!-- MODULES 1 -->
    <div data-overlay class="min-vh-90 bg-light d-flex flex-column justify-content-center o-hidden">
    <section class="pb-0 pb-md-5 pt-3 pt-md-5 bg-light">
      <div class="container">
        <div class="row">
          
          <div class="col-md-8 col-lg-8 mb-4 mb-lg-0">
            <div class="card h-100">
            <div class="card-body">
            <h3>Bienvenue, {{user.username}} !</h3>
            {% comment %} <p></p> {% endcomment %}
            <p>Ici, vous pouvez gérer vos interactions et vos réservations.</p>
            <p>Vous êtes un professionnel? Nous vous aidons volontier à augmenter votre visibilité en ligne ou vos processus de gestion.</p>
            <p class="small">Cette page est une version beta, encore un peu de patience ! Questions ou suggestions: <a href="mailto:hello@aliloca.com">hello@aliloca.com</a></p>
            </div>
        
          </div>
          </div>
          <!-- <div class="col-md-0 col-lg-4">
          </div> -->
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
            
              <div class="card h-100">
              <div class="card-body">
              <h3>Compte</h3>
              <p>
              (0) messages non lus<br/>
              (0) réservations confirmées<br/>
              <br/>
              <a href="{% url 'accounts:logout' %}">Logout</a>
              </p>
              </div>
          
            
            </div>
        </div>
      </div>
    </section>
    <!-- MODULES 2 -->

    <section class="pb-5 pt-0 bg-light">
      <div class="container">
        <div class="row">
          <div class=" col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
              <div class="d-block bg-secondary text-white rounded-top position-relative">
                <div class="badge icon-left">
                  <svg
                    width="3em"
                    height="3em"
                    viewBox="0 0 16 16"
                    class="bi bi-book"
                    fill="black"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-body">
                <h3>Réservations</h3>
                <ul>
                <li>Nouvelle demande</li>
                <li>Demandes en cours</li>
                </ul>
                {% comment %} <p>Passées, en cours, à confirmer, confirmées.</p> {% endcomment %}
                <a href="https://www.aliloca.com" class="stretched-link"></a>
              </div>
            </div>
          </div>

          <div class=" col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
              <div class="d-block bg-secondary text-white rounded-top position-relative">
                <div class="badge icon-left">
                  <svg
                    width="3em"
                    height="3em"
                    viewBox="0 0 16 16"
                    class="bi bi-shop-window"
                    fill="text-success"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-body">
                <h3>Gestion magasin</h3>
                <ul>
                <li>Créer une page vitrine</li>
                <li>Faire une demande d'ajout de votre assortiment</li>
                <li>Gérer vos stocks et réservations</li>
                </ul>
                {% comment %} <p> 
                  Demande Ajout/Suppression matériel <br />
                  Stock disponible/indisponible
                </p> {% endcomment %}
                <a href="mailto:cedric@aliloca.com" class="stretched-link"></a>
              </div>
            </div>
          </div>


          {% if retards %}
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
                <div class="d-block bg-secondary text-white rounded-top position-relative">   
             <div class="badge icon-left">
                  <svg
                    width="3em"
                    height="3em"
                    viewBox="0 0 16 16"
                    class="bi bi-calendar-x"
                    fill="black"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-body">
                <h3>Retards</h3>
                <p>
                  Consultation des retards <br />
                  Paramètres pour envoi rappels
                </p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>
          {% endif %}
          {% if checkout %}
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
<div class="d-block bg-secondary text-white rounded-top position-relative">
                <div class="badge icon-left">
                  <svg
                    width="3em"
                    height="3em"
                    viewBox="0 0 16 16"
                    class="bi bi-person-check"
                    fill="black"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm4.854-7.85a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                    />
                  </svg>
                </div>
              </div>

              <div class="card-body">
                <h3>Check out</h3>
                <p>
                  Formulaire inscription/retrait <br />
                  Photos + descriptifs état matériel
                </p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>
          {% endif %}
          {% if checkin %}
          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-85 hover-box-shadow">
            <div class="d-block bg-secondary text-white rounded-top position-relative">
              {% comment %} <div class="d-block bg-gradient rounded-top position-relative"> {% endcomment %}
                <div class="badge icon-left">
                  <svg
                    width="3em"
                    height="3em"
                    viewBox="0 0 16 16"
                    class="bi bi-journal-check"
                    fill="black"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
                    />
                    <path
                      d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-body">
                <h3>Check in</h3>
                <p>
                  Formulaire client/reprise <br />
                  Photos + descriptifs état matériel
                </p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>
          {% endif %}

          <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
            <div class="card h-100 hover-box-shadow">
            <div class="d-block bg-secondary text-white rounded-top position-relative">
              {% comment %} <div class="d-block bg-gradient rounded-top position-relative"> {% endcomment %}
                <div class="badge icon-left">
                  <svg
                    width="3em"
                    height="3em"
                    viewBox="0 0 16 16"
                    class="bi bi-gear"
                    fill="black"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"
                    />
                  </svg>
                </div>
              </div>
              <div class="card-body">
                <h3>Paramètres</h3>
                <ul>
                <li>Informations personnelles</li>
                <li>Préférences email</li>
                <li>Contact</li>
                </ul>
                {% comment %} <p>
                  Paramètres de votre compte<br />
                  Modification adresse, téléphone, horaires
                </p> {% endcomment %}
                <a href="mailto:hello@aliloca.com" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>

{% endblock %}
